# Ignore node_modules
node_modules

# Ignore data.json file that obsidian uses to store metadata
data.json

#Ignore .DS_Store files
.DS_Store

# Ignore package-lock.json file
obsidian-transcribe-plugin/package-lock.json
